<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicon.png"
    />
    <title><%= title %></title>

    <!-- Custom CSS -->
    <link href="/Extra Css/app-chat.css" rel="stylesheet" />
    <link href="/dist/css/style.min.css" rel="stylesheet" />
    <link href="/Extra Css/news.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
</html>

<body>
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div
    id="main-wrapper"
    data-theme="light"
    data-layout="vertical"
    data-navbarbg="skin6"
    data-sidebartype="full"
    data-sidebar-position="fixed"
    data-header-position="fixed"
    data-boxed-layout="full"
  >
    <%- include("components/topbar") -%> <%- include("components/sidebar") -%>

    <div class="page-wrapper">
      <div class="container-fluid mt-3">
        <div class="card-group">
          <div class="card border-right">
            <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                  <div class="d-inline-flex align-items-center">
                    <h4 class="text-dark mb-1" style="font-weight: 600">
                      <%= nifty %>
                    </h4>
                  </div>
                  <h4
                    class="text-muted font-weight-normal mb-0 w-100 text-truncate"
                  >
                    Nifty
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-news">
          <h2 class="heading">Top Articles</h2>

          <div
            id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-ride="carousel"
          >
            <ol class="carousel-indicators">
              <li
                data-target="#carouselExampleSlidesOnly"
                data-slide-to="0"
                class="active"
              ></li>
              <li
                data-target="#carouselExampleSlidesOnly"
                data-slide-to="1"
              ></li>
              <li
                data-target="#carouselExampleSlidesOnly"
                data-slide-to="2"
              ></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active mb-5">
                <div class="row" style="width: 100%">
                  <div class="col-7">
                    <h3 class="carousel-heading"><%= items[0].header %></h3>

                    <p class="blog-text"><%- items[0].content %></p>

                    <a href="something" class="button3 bouncy">Read More</a>
                  </div>
                  <div class="col-5 pt-4 pt-4">
                    <img
                      src="data:image/<%=items[0].img.contentType%>;base64,
                      <%=items[0].img.data.toString('base64')%>"
                      alt=""
                    />
                  </div>
                </div>
              </div>

              <div class="carousel-item mb-5">
                <div class="row" style="width: 100%">
                  <div class="col-7">
                    <h3 class="carousel-heading">Market has its risks.</h3>

                    <p class="carousel-content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Molestias consequuntur sequi suscipit iure fuga ea!Lorem
                      ipsum dolor sit amet consectetur adipisicing elit.
                      Molestias consequuntur sequi suscipit iure fuga ea!Lorem
                      ipsum dolor sit amet consectetur adipisicing
                    </p>

                    <a href="something" class="button3 bouncy">Read More</a>
                  </div>
                  <div class="col-5 pt-4">
                    <img
                      src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>

              <div class="carousel-item mb-5">
                <div class="row" style="width: 100%; background-color: white">
                  <div class="col-7">
                    <h3 class="carousel-heading">Market has its risks.</h3>

                    <p class="carousel-content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Molestias consequuntur sequi suscipit iure fuga ea!Lorem
                      ipsum dolor sit amet consectetur adipisicing elit.
                      Molestias consequuntur sequi suscipit iure fuga ea!Lorem
                      ipsum dolor sit amet consectetur adipisicing
                    </p>

                    <a href="something" class="button3 bouncy">Read More</a>
                  </div>
                  <div class="col-5 pt-4">
                    <img
                      src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="daily">
          <h2 class="heading">Daily News</h2>
          <div class="card mx-3 my-3">
            <div class="card-header">
              <img
                src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg"
                alt=""
              />
            </div>
            <div class="card-body">
              <i class="fas fa-calender"></i>
              <span class="tag tag-pink">July 11,2022</span>
              <h4>
                New York City | Layout, People, Economy, Culture, & History
              </h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias consequuntur sequi suscipit iure fuga ea!
              </p>
            </div>
          </div>
          <div class="card mx-3 my-3">
            <div class="card-header">
              <img
                src="https://s.aolcdn.com/images/dims?client=fh7w6q744eiognjk&signature=d59d0cf6af1d779a3dca451e0ba259c33bbc6115&image_uri=https%3A%2F%2Fs.aolcdn.com%2Fos%2Fab%2F_cms%2F2019%2F08%2F30142658%2F2020-jeep-wrangler-16.jpg&thumbnail=750%2C422&quality=80"
                alt=""
              />
            </div>
            <div class="card-body">
              <span class="tag tag-teal">July 10,2022</span>
              <h4>Why is the Tesla Cybertruck designed the way it is?</h4>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Aspernatur tenetur distinctio neque?
              </p>
            </div>
          </div>
          <div class="card mx-3 my-3">
            <div class="card-header">
              <img
                src="https://images.cruisecritic.com/image/18740535/10-best-cruise-destinations-for-hot-air-balloon-rides_600x400_21.jpg"
                alt=""
              />
            </div>
            <div class="card-body">
              <span class="tag tag-purple">July 9,2022</span>
              <h4>
                Hot Air Ballooning in Nepal - 1 Day - Nepal Mother House Treks
              </h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
                dolor nihil saepe. Nobis nihil minus similique hic quas
                mollitia.
              </p>
            </div>
          </div>
          <div class="card mx-3 my-3">
            <div class="card-header">
              <img
                src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg"
                alt=""
              />
            </div>
            <div class="card-body">
              <i class="fas fa-calender"></i>
              <span class="tag tag-pink">July 8,2022</span>
              <h4>
                New York City | Layout, People, Economy, Culture, & History
              </h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias consequuntur sequi suscipit iure fuga ea!
              </p>
            </div>
          </div>
        </div>

        <div class="market-news">
          <h2 class="heading">Market News</h2>
          <div class="row" style="width: 100%; padding-left: 25px">
            <div class="col-6">
              <div class="row" style="background-color: rgb(255, 255, 255)">
                <div class="col-8 pt-4">
                  <h3 class="px-3" style="font-weight: 700; color: black">
                    A diagnostic of Indian Companies
                  </h3>
                  <h5 class="px-3 py-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias consequuntur sequi suscipit iure fuga ea!
                  </h5>
                </div>
                <div class="col-4 pt-4">
                  <img
                    src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg"
                    alt=""
                    height="100px"
                    weight="100px"
                  />
                </div>
              </div>
              <hr style="border: 0; height: 1px; background: #333" />
              <div class="row" style="background-color: rgb(255, 255, 255)">
                <div class="col-8 pt-4">
                  <h3 class="px-3" style="font-weight: 700; color: black">
                    A diagnostic of Indian Companies
                  </h3>
                  <h5 class="px-3 py-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias consequuntur sequi suscipit iure fuga ea!
                  </h5>
                </div>
                <div class="col-4 pt-4">
                  <img
                    src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg"
                    alt=""
                    height="100px"
                    weight="100px"
                  />
                </div>
              </div>
              <hr style="border: 0; height: 1px; background: #333" />
              <div class="row" style="background-color: rgb(255, 255, 255)">
                <div class="col-8 pt-4">
                  <h3 class="px-3" style="font-weight: 700; color: black">
                    A diagnostic of Indian Companies
                  </h3>
                  <h5 class="px-3 py-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias consequuntur sequi suscipit iure fuga ea!
                  </h5>
                </div>
                <div class="col-4 pt-4">
                  <img
                    src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg"
                    alt=""
                    height="100px"
                    weight="100px"
                  />
                </div>
              </div>
              <hr style="border: 0; height: 1px; background: #333" />
              <div class="row" style="background-color: rgb(255, 255, 255)">
                <div class="col-8 pt-4">
                  <h3 class="px-3" style="font-weight: 700; color: black">
                    A diagnostic of Indian Companies
                  </h3>
                  <h5 class="px-3 py-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias consequuntur sequi suscipit iure fuga ea!
                  </h5>
                </div>
                <div class="col-4 pt-4">
                  <img
                    src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg"
                    alt=""
                    height="100px"
                    weight="100px"
                  />
                </div>
              </div>
              <hr style="border: 0; height: 1px; background: #333" />
              <div class="row" style="background-color: rgb(255, 255, 255)">
                <div class="col-8 pt-4">
                  <h3 class="px-3" style="font-weight: 700; color: black">
                    A diagnostic of Indian Companies
                  </h3>
                  <h5 class="px-3 py-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias consequuntur sequi suscipit iure fuga ea!
                  </h5>
                </div>
                <div class="col-4 pt-4">
                  <img
                    src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg"
                    alt=""
                    height="100px"
                    weight="100px"
                  />
                </div>
              </div>
              <hr style="border: 0; height: 1px; background: #333" />
            </div>

            <div class="col-6">
              <div class="row" style="background-color: rgb(255, 255, 255)">
                <div class="col-8 pt-4">
                  <h3 class="px-3" style="font-weight: 700; color: black">
                    A diagnostic of Indian Companies
                  </h3>
                  <h5 class="px-3 py-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias consequuntur sequi suscipit iure fuga ea!
                  </h5>
                </div>
                <div class="col-4 pt-4">
                  <img
                    src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg"
                    alt=""
                    height="100px"
                    weight="100px"
                  />
                </div>
              </div>
              <hr style="border: 0; height: 1px; background: #333" />
              <div class="row" style="background-color: rgb(255, 255, 255)">
                <div class="col-8 pt-4">
                  <h3 class="px-3" style="font-weight: 700; color: black">
                    A diagnostic of Indian Companies
                  </h3>
                  <h5 class="px-3 py-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias consequuntur sequi suscipit iure fuga ea!
                  </h5>
                </div>
                <div class="col-4 pt-4">
                  <img
                    src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg"
                    alt=""
                    height="100px"
                    weight="100px"
                  />
                </div>
              </div>
              <hr style="border: 0; height: 1px; background: #333" />
              <div class="row" style="background-color: rgb(255, 255, 255)">
                <div class="col-8 pt-4">
                  <h3 class="px-3" style="font-weight: 700; color: black">
                    A diagnostic of Indian Companies
                  </h3>
                  <h5 class="px-3 py-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias consequuntur sequi suscipit iure fuga ea!
                  </h5>
                </div>
                <div class="col-4 pt-4">
                  <img
                    src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg"
                    alt=""
                    height="100px"
                    weight="100px"
                  />
                </div>
              </div>
              <hr style="border: 0; height: 1px; background: #333" />
              <div class="row" style="background-color: rgb(255, 255, 255)">
                <div class="col-8 pt-4">
                  <h3 class="px-3" style="font-weight: 700; color: black">
                    A diagnostic of Indian Companies
                  </h3>
                  <h5 class="px-3 py-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias consequuntur sequi suscipit iure fuga ea!
                  </h5>
                </div>
                <div class="col-4 pt-4">
                  <img
                    src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg"
                    alt=""
                    height="100px"
                    weight="100px"
                  />
                </div>
              </div>
              <hr style="border: 0; height: 1px; background: #333" />
              <div class="row" style="background-color: rgb(255, 255, 255)">
                <div class="col-8 pt-4">
                  <h3 class="px-3" style="font-weight: 700; color: black">
                    A diagnostic of Indian Companies
                  </h3>
                  <h5 class="px-3 py-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias consequuntur sequi suscipit iure fuga ea!
                  </h5>
                </div>
                <div class="col-4 pt-4">
                  <img
                    src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg"
                    alt=""
                    height="100px"
                    weight="100px"
                  />
                </div>
              </div>
              <hr style="border: 0; height: 1px; background: #333" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="row footer py-5">
      <div class="col-3"></div>
      <div class="col-6" style="color: black; width: 100%">
        <div class="px-4 text-center">
          <h2 style="font-weight: 600">Join our community !</h2>
          <h4>Stay updated on the recent financial stories</h4>

          <div class="pt-5">
            <input
              class="email"
              type="email"
              placeholder="Enter your email address"
            />

            <button class="subscribe px-3" style="display: inline-block">
              Subscribe
            </button>
          </div>
        </div>
      </div>
      <div class="col-3"></div>
    </footer>
  </div>

  <%- include("layouts/footer") -%>
</body>
